{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %} 
<style>
    body{
        background-color: darkgray;
    }
    #footer {
    position:absolute;
    bottom: 0pt;
    height : 230px;
    margin-top : 110px;
    width: 100%;
    }
    p{
        font-size:x-large;
        margin: 40px;
    }

</style>
<p>

    We have committed ourselves, to provide a better and healthier environment 
    for the pets in the country. We feel that pets are integral part of the family. 
    We view that pets are lovely creatures which integrates and brings the family closer. 
    We provide the services and advice that make it easier to be great pet parents.  
    we are also focused to empower our customers with all the information related to pets, 
    pet care tips, diseases and symptoms, treatment and medications.
    Our top priority has been to help more animals live long and happy lives with loving human companions.
    It's easy browsing category wise to help select the best for your pet, and if what you need is not with 
    us just write back and we will ensure to get it up soon. PetCare aims to be
    Indias to become the most respected, trusted place for PetCare suggestions.
</p>
<div id="footer">
<footer class="text-center text-white" style="background-color: #caced1;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="/static/images/pet10.png"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="/static/images/pet11.jpg"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="/static/images/pet12.jpg"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light">
              <img src="/static/images/pet13.jpg" class="w-100"/>
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="/static/images/pet8.jpg"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="/static/images/pet14.jpg"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white">PetCare.com</a>
    </div>
  </footer>
  </div>
{% endblock body %}